body {
   margin: 40px 20px 40px 20px;
   display: block;
   overflow-x: hidden;
   border: 5px solid black;
   min-height: 100%;
  }
@font-face{
   font-family:MovLette;
   src: url("MovLette.ttf") format("truetype");
}

  html{
   height: 100%;
  }
.main{
   grid-area: main;
}
.aside{
   grid-area: aside;
}
.section{
   grid-area: section;
}
.footer{
   grid-area: footer;
   background-color: darkgray;
   border-top: 5px solid black;
}
.grid-container{
   display: grid;
   text-align: center;
   grid-template: 
   "header"
   "main" 30%
   "aside" 30%
   "section" 30%
   "footer" auto/
   100%;
} 
  .navbar-brand {
   font-family: MovLette;
   font-size: 55px;
   text-transform: uppercase;
   font-weight: 390;
  }
nav ul li a {
   font-family: MovLette;
   font-size: 22px;
   margin: auto 10px;
   color: black;
}
nav div a img{
   height: 80px;
   width: 100px;
}
.navbar-brand{
   margin-left: 150px;
}
#Letras-nav{
   color: rgb(0, 0, 0);
}
.slide{
   margin: 7vw 2vw 2vw 3vw ;
   border: 5px solid black;
   width: 50vw;
}
.slide img{
   height: 60vh;
}
.navbar{
   border-bottom: 5px solid black;
}
li a.active, li a:hover{
   background-color: #fa6868;;
   transition: .5s;
   border-radius: 20px;
}
.checkbton{
   font-size: 30px;
   color: black;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}

 .col-md-6{
   margin-top: 9rem;
 }
 .section{
   margin-top: 200px;

   align-items: center;
}
.section div{
   border: 5px solid black;
}

  .redes{
   margin-top: 60px;
   display:inline-block;
   align-items: center;
 }
 .face{
    position: absolute;
    left: 10%;
    transform: translate(-10%);
    }
 .twitter{
    position: absolute;
    left: 15%;
    transform: translate(-15%);
 }
 .insta{
    position: absolute;
    left: 20%;
    transform: translate(-20%);
 }
.logofinal{
    position: absolute;
    right: 2%;
    transform: translate(-20%);
}
.copyright{
   font-family: MovLette;
   position: absolute;
   left: 45%;
} 
 @media (min-width: 1000px){
   .grid-container{
      margin-top: 30px;
      grid-template: 
      "main    aside" 45%
      "section section" 40%
      "footer  footer" 15% /
      60% auto
      ;
   }
}
/* @media(max-width: 300px){
   .grid-container{
      grid-template:
      "header"
      "main" 40%
      "aside" 40%
      "section" 42%
      "footer" auto /
      100%;
   }
} */